pvporcupine
pyaudio
SpeechRecognition
pyttsx3==2.90
pycaw
comtypes
pypiwin32
screen-brightness-control
pywhatkit
requests
openai
google-search-results
speedtest-cli
psutil
pyautogui
qrcode[pil]
wikipedia-api
pyjokes
pyperclip